.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

/clean_data/phylogeny/genome_datasets/t_cacao/NC_030850.1.gb
/clean_data/phylogeny/genome_datasets/t_cacao/GCF_000208745.1/*

/ncbi/Aim3_Original_Sample_gzip_files/submitted_ncbi/*